<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Student Register</h3>
<form action="save" method="POST">
<pre>
  NAME    ::<input type="text" name="name">
  Marks(%)::<input type="text" name="marks">
  Address ::<input type="text" name="addrs">
  EMAIL   ::<input type="text" name="email">
  GENDER  ::<input type="radio" name="gender" value="male">Male<input type="radio" name="gender" value="female">Female
  Subjects::
            <input type="checkbox" name="subject" value="c">C language
  			<input type="checkbox" name="subject" value="cpp">C++
  			<input type="checkbox" name="subject" value="java">JAVA
  			<input type="checkbox" name="subject" value="asp.net">C#
  			<input type="checkbox" name="subject" value="python">PYTHON
  Grade   ::<select name="grade" multiple="multiple">
   			<option value="A">A+</option>
  			<option value="B">B+</option>
  			<option value="C">C+</option>
  			<option value="fail">FAIL</option>
            </select>
  <input type="submit" value="Add Registration">    <input type="reset" value="Cancel">  
</pre>
</form>
<span th:text="${message}"></span>
</body>
</html>